body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
}
h1 { font-weight: 600; }
p.lead { font-size: 18pt; }
div.content {
  max-width: 1060px;
  padding: 10px;
  margin: 0 auto;
}
div#mainlinks {
  background: #393c2e;
  color: white;
  padding: 20px 0;
}
div#mainsublinks {
  background: #f3f3f3;
  padding: 20px 0;
}
div.footer {
  background: white;
  font-size: 10pt;
}
div.footer > div.content {
  max-width: 960px;
}

div.logo {
  max-width: 800px;
  margin: 0 auto;
}
div.logo img {
  width: 100%;
}

div.tiles {
  display: flex;
  flex-flow: row wrap;
  margin: 10px -10px;
}

div.tile2 {
  flex: 0 0 520px;
  padding: 10px;
}
div.tile2ex {
  flex: 1 0 520px;
  padding: 10px;
}
div.tile3 {
  flex: 0 0 340px;
  padding: 10px;
}
div.tile3ex {
  flex: 1 0 340px;
  padding: 10px;
}

a.tilelink {
  display: block;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: white;
  color: black;
  text-decoration: none;
}
a.tilelink:hover {
  box-shadow: 0 2px 4px #ccc;
}
span.tiletitle {
  font-size: 16pt;
}
span.tiledesc {
  margin-top: 6px;
  color: #666;
}
a.mainlink {
  display: block;
  padding: 20px;
  background: white;
  color: black;
  text-decoration: none;
}
div.bookbanner {
  max-width: 900px;
  margin: 0 auto;
}
